name: Deploy Docs

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Cloudflare Pages
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build Docs
        working-directory: docs
        run: |
          npm ci
          npm run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 'dced67ad0bbbea0d46ae0158c3239d37'
          command: pages deploy docs/build --project-name=luna-sdk
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
